extends ./partials/head

block head
  .
    <title><?php the_title(); ?></title>
  meta(name="description" content="description")
  meta(name="keywords" content="keywords")

block og
  meta(property="og:type" content="website")
  meta(property="og:title",content="トップページのタイトル")
  .
    <meta property="og:title", content="<?php the_title(); ?>"></mata>
    <meta property="og:description", content="<?php echo mb_substr(strip_tags($post->post_content),0,100) ; ?>"></mata>
  meta(property="og:site_name",content="sitename")
  .
    <meta property="og:url", content="<?php bloginfo('url'); ?>/news/<?php echo($post->post_name) ?>"></mata>


    <?php
      $og = get_post_meta($post->ID, 'ogimage', false);
      $og_url = $og[0] != '' ?
        wp_get_attachment_url($og[0]) :
        get_bloginfo('template_url')."/assets/og.png";
    ?>
    <meta property="og:image", content="<?php echo($og_url) ?>"></mata>
  meta(property="og:locale",content="ja_JP")
  meta(name="twitter:card" content="summary_large_image")


block style
  link(rel="stylesheet" type="text/css" href!=`<?php bloginfo('template_url'); ?>/assets/styles/main.css`)

block wpTemplate



block content
  .
    <?php setup_postdata($post); ?>
    <h1><?php the_title(); ?></h1>
    <?php the_content(); ?>










