-
  var meta = {
    "title":"ページタイトル",
    "description":"ディスクリプション",
    "keywords":"キーワード",
    "og_title":"シェアタイトル",
    "og_description": "シェアディスクリプション",
    "og_url":"シェアurl",
    "og_img":"http://hoge.com/img/ogimg.png"
  }
-
