@import "./utils/_reset"
@import "./utils/_mixins"
@import "./utils/_easing"

$font= "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", sans-serif;

.wp-content
  position absolute
  top 0
  left 0
  z-index -1

#app
  min-height 100vh
  z-index 0
  background-color #fff
